*{
    box-sizing: border-box;
    border: 0%;
    margin: 0%;
}
.element {
    background-color: brown;
    flex-basis: 6.25% ;
    border: 2px solid black;
}
.container{
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}
.mouseOver{
    background-color: blue;
}